#shopCart {

    background: rgba(255, 255, 255, .9);
}

html {
    background: url(cartbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {

    background: none;
    padding-bottom: 60px;

}

#cart {
    margin-top: 150px;

}

#header {
    color:cadetblue;
    text-align: center;

}

.navbar {
    background: none;
}
#sumup {
    background: rgba(255, 255, 255, .9);

    position: relative;
    bottom: 18.5%;
    max-width: 1050px;
    text-align: right;
}

tbody {
    text-align: center;
}

.photos {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    color: cadetblue;

}
#cart{

    background: rgba(255, 255, 255, .9);
    padding-bottom: 60px;

}
.container {
    text-align: center;
    background: rgba(255, 255, 255, .9);


}
.photos {
    border-radius: 2%;
    padding:1px;
    border:1px solid #021a40;
    background-color: #021a40;

}

