#homePageContainer {
    margin-top: 200px;
    background: rgba(255, 255, 255, .9);
    border-radius: 5px;
    width: 400px;
    alignment: center;
    padding-bottom: 10px;
}

html {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {

    background: none;

}

h1 {
    text-align: center;
    font-size: 19px;

}

p1 {
    text-align: center;
}
.container {
    text-align: center;
}

.cart {
    padding-bottom: 60px;

}
